<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
    <test name="TestNG сценарии"   >
        <classes>
            <class name="org.example.ParamTest" />
            <class name="org.example.SimpleTest" />
        </classes>
    </test>
</suite>